body{
    background-color: black;
    color: white;
}
.corrosa{
    color: rgb(231, 123, 141);
}
.corazul{
    color: blue;
}
.coramarelo{
    color: yellow;
}
.corverde{
    color: green;
}
.corlaranja{
    color: orange;
}
.corroxa{
    color: purple;
}